.circle[id="Secret Velvet"] {
    top: 170px;
    background-color: #ffffff;
}
.circle[id="QoQa"] {
    top: 270px;
    background: #DBE1E8;
}
.circle[id="CEFIRE"] {
    top: 475px;
    background: #DBE1E8;
}
.circle[id="Cortix"] {
    top: 535px;
    background-color: #ffffff;
}
.circle[id="Ecole Superieure des Beaux Arts"] {
    top: 675px;
    background: #DBE1E8;
}
.circle[id="Ademe"] {
    top: 815px;
    background-color: #ffffff;
}
.circle[id="Skill Box"] {
    top: 895px;
    background: #DBE1E8;
}
.circle[id="Impec Toonga"] {
    top: 1010px;
    background-color: #ffffff;
}
.circle[id="Last"] {
    top: 1055px;
    background: #DBE1E8;
}